body {
    height: 100vh;
}

img {
    margin: 200px auto;
}

h1 {
    text-align: center;
    font-size: 10em;
}
p {
    font-size: 3em;
    text-align: center;
}
small {
    font-size: 0.3em;
}

img, h1, p {
    display: flex;
    align-items: center;
    justify-content: center;
}