/* | Site-Wide Rules */
:root {
  --stem-color: #04c53e;
  --leaf-color: color-mix(in srgb, var(--stem-color), #555)
}

body {
  background: #ff8cd0;
}
header {
  text-align: center;
}

/* | Timeline Rules */
#timeline {
  overflow: hidden;
  position: relative;
  padding: 20px 0px;

  /* || Individual Timeline Entries Rules */
  section.timeline-content {
    border-radius: 0 70px;
    background-color: var(--leaf-color);
    
    &.anniversary {
      width: 40%;
      margin-left: .5em;
      padding: 0.8em;
    }

    &:nth-child(even) {
      margin-right: .5em;
      margin-left: auto;
      transform: scaleX(-1); /* flips leaf to be mirror image */
      transform-origin: center;

      > * {
        transform: scaleX(-1); /* undoes mirror flip on text */
      }
    }

    /* ||| Entry Text Rules */
    > h2 {
      font-size: 1.2em;
    }
    > * {
      text-align: center;
    }
    > p {
      font-style: italic;

      > span {
        font-size: 12px;
        font-style: normal;
      }
    }
  }

  /* || Timeline Bar */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: var(--stem-color);
    transform: translateX(-50%);
  }
}
